/* Page specific stuff */

/* Sub header */

.sub-header {
    text-align: center;
}

.sub-header h2 {
    font-size: 2em;
    margin-bottom: 0;
}

.sub-header p {
    float: right;
    margin-right: 60px;
}

/* Form container */

.form-container {
    width: 90%;
    margin: 0px auto;
    font-size: 1.3em;
}

.form-container h3 {
    text-align: center;
}

.form-container input[type="text"] {
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color: #555;
    padding:20px;
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
}

#patient-name {
    /* display: inline-block; */
    width: 60%;
}

#patient-name label {
    margin-right: 25px;
}

#patient-name input {
    width: 39%;
    margin-right: 100px;
}

#patient-age {
    /* display: inline-block; */
    width: 10%;
    margin-right: 80px;
}

#patient-sex {
    /* display: inline-block; */
    /* float: right; */
    width: 20%;
}

.form-display-line label {
    margin-right: 10px;
}

#patient-email input{
    width: 39%;
    margin-right: 100px;
}

#patient-mobile input {
    width: 25%;
}

fieldset {
    /* border: none; */
    border-radius: 40px;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

legend {
    margin: 0px 30px;
    padding: 0px 15px;
}

#form-search, #form-submit {
    outline: none;
    border:none;
    cursor: pointer;
    
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color:#fff;
    text-align: center;
    background: #24cfaa;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: 0.5s;
}

#form-search {
    margin-left: 20px;
    padding-top: 16px;
}

#form-submit {
    display: inline-block;
    width: 20%;
    margin-left: 40%;
    margin-bottom: 20px;
}

.test-type-row input {
    margin-left: 50px;
    margin-right: 10px;
}

.test-type-row input[type="checkbox"] {
    display: inline-block;
    width: 15px;
    height: 15px;
}

#tableMain {
    margin: 30px auto;
}

#tableMain th, .form-container input[type="submit"] {
    outline: none;
    border:none;
    cursor: pointer;
    height: 60px;

    width: 45vw ;
    
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color:#fff;
    text-align: center;
    background: #24cfaa;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: 0.5s;
}

td, .form-display-line-02 textarea {
    border: none;
    outline:none;

    width: 45vw;

    background: none;
    font-size: 18px;
    color: #555;
    padding:20px;
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
}

.form-display-line-02 label {
    display: inline-block;
    margin-left: 50px;
    min-width: 300px;
}

.form-display-line-02 label:first-child {
    display: inline-block;
    min-width: 300px;
}

.form-display-line-02 textarea {
    float: right;
    margin-right: 430px;
}

#form-submit {
    width: 15vw;
    margin: 30px auto;
    margin-left: 35vw;
}

