body {
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix {
    clear: both;
}

header {
    overflow: hidden;
    margin-bottom: 20px;
}

.logo {
    float: left;
    margin-left: 320px;
    margin-top: 10px;
}

main {
    width: 70%;
    margin: 0px auto;
    border: 1px solid #000000;
    font-weight: 800;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-weight: 800;
    margin-bottom: 0px;
}

#date {
    float: right;
    border-bottom: 2px dotted #000000;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 40px;
}

form {
    width: 90%;
    margin: 0px auto;
    margin-bottom: 40px;
}

.form-element {
    display: inline-block;
    margin-bottom: 5px;
}

.form-element label {
    display: inline-block;
    width: 150px;
}

.form-element input {
    display: inline-block;
    border: none;
    border-bottom: 2px dotted #000000;
    width: 300px;
    margin-right: 100px;
}

.left-side {
    width: 60%;
    float: left;
}

.left-side .form-element input {
    margin-right: 10px;
}

.right-side {
    float: right;
    margin-top: 20px;
    margin-right: 150px;
}

.right-side b {
    text-decoration: underline;
}

.right-side .push-down-02 {
    margin-bottom: 20px;
}

.right-side .ranges {
    margin-bottom: 5px;
}

#label {
    width: 500px;
    margin: 5px 0px;
}

.form-element-02 {
    display: inline-block;
    width: 90%;
    margin-bottom: 5px;
}

.form-element-02 label {
    display: inline-block;
    width: 150px;
}

.form-element-02 input {
    border: none;
    border-bottom: 2px dotted #000000;
    width: 800px;
}

#malaria-text {
    float: right;
    margin-right: 230px;
}

#esr input {
    width: 595px;
}

.test-title {
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 10px;
}

.form-element-03 {
    display: inline-block;
    width: 60%;
    margin-bottom: 5px;
}

.form-element-03 label {
    display: inline-block;
    width: 220px;
}

.form-element-03 input, .form-element-03 textarea {
    border: none;
    border-bottom: 2px dotted #000000;
    width: 490px;
}

form input[type="submit"] {
    margin-top: 10px;
    margin-left: 30vw;
}
